---
---

@import "{{ site.theme }}";

.inner { max-width: 80%; }

#header_wrap .inner { padding: 10px 10px 10px 10px; }

header a:hover, a:focus { text-decoration: none; }

body { text-align: justify;	}

h1, h2, h3, h4, h5 { font-family: "Calibri"; }

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

img { margin: 20px 20px 20px 20px; }