---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color:  $header-bg-color; 
  /* background-image: linear-gradient(0deg, $header-bg-color-secondary, $header-bg-color); */
  background-image: linear-gradient(0deg, #556655, #111111);

  @include large {
    padding: .2rem .5rem;
  }

  @include medium {
    padding: .2rem .5rem;
  }

  @include small {
    padding: .2rem 1rem;
  }
}


body {
  padding: 0;
  margin: 0;
  font-family: "Calibri", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.2;
  color: $body-text-color;
}


.main-content {
  
  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 0.9rem;
  }
 }

img {
	height:auto;
	margin: .8rem 1.5rem;
}

p {
	text-align:justify;
}

.inner {
    max-width: 800px;
 }


.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: #556655;
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 0.1rem;
  }

  @include large {
    padding: 0.2em 0.2em;
    font-size: 1rem;
  }

  @include medium {
    padding: 0.2em 0.2em;
    font-size: 1rem;
  }

  @include small {
    padding: 0.2em;
    font-size: .9rem;

    + .btn {
      margin-top: 0px;
      margin-left: 0;
    }
  }
}